/* ----- Base Styles ----- */

:root {
	--green: #00843D;
	--blue: #0C2340;
	--grey-text: #707070;
	--base-font: 20px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arvo', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}


/* ----- Button Styles ----- */

button {
	border: 2px solid white;
	background: var(--green);
	color: white;
	width: 150px;
	height: 60px;
	cursor: pointer;
	font-size: 18px;
	border-radius: 6px;
	font-family: 'Arvo', serif;
}

button a {
	color: white;
}

button:focus {
	outline: none;
}

button:hover {
	color: var(--green);
	background-color: white;
	border-color: var(--green);
}


/* ----- Header ----- */

header {
	display: flex;
	width: 83%;
	margin: auto;
	justify-content: flex-end;
	align-items: center;
	height: 17vh;
}

.nav-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 160px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 16px;
}

.nav-items a:hover {
	border-bottom: var(--green) solid 2px;
}


/* ----- Main ----- */

main {
	display: grid;
	grid-template-columns: 4fr 6fr;
	width: 83%;
	margin: auto;
	height: 66vh;
}

.main-img {
	display: flex;
	align-content: center;
	padding-top: 40px;
}

main img {
	width: 300px;
	height: 300px;
}

.main-details {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-top: 40px;
}

.headline {
	font-size: calc(14px + (50 - 10) * ((100vw - 300px) / (1600 - 300)));
	font-family: 'Montserrat', sans-serif;
}

.sub-headline {
	font-size: calc(14px + (30 - 10) * ((100vw - 300px) / (1600 - 300)));
	font-family: 'Montserrat', sans-serif;
}

.phrase {
	color: var(--grey-text);
	margin-top: 60px;
	font-size: calc(12px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
}

.home-btn {
	margin-top: 75px;
}

/* ----- Features ----- */


.features {
	display: grid;
	grid-template-columns: 100fr 1fr 100fr;
}

.feature-title {
	font-size: 30px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}

.feature-text {
	font-size: 16px;
	color: var(--grey-text);
	margin-top: 5px;
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

i {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--green);
	font-size: 50px;
	padding: 2px;
}

.left {
	text-align: right;
	display: grid;
	grid-template-columns: 5fr 1fr;
	grid-gap: 2px;
}

.right {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-gap: 2px;
}

.one {
	grid-column-start: 1; 
	grid-column-end: 2; 
	grid-row-start: 1; 
	grid-row-end: 2;
}

.two {
	grid-column-start: 2; 
	grid-column-end: 3; 
	grid-row-start: 1; 
	grid-row-end: 4;
}

hr {
	width: 3px;
	height: 66vh;
	background-color: var(--grey-text);
	color: var(--grey-text);
	margin: 0 auto;
}

/* ----- Contact ----- */

.contact {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.contact-info {
	display: flex;
	flex-direction: column;
}

.contact-headline {
	font-size: calc(14px + (50 - 10) * ((100vw - 300px) / (1600 - 300)));
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	margin-top: 10px;
}

.contact-text {
	color: var(--grey-text);
	margin-top: 20px;
	font-size: calc(12px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
	margin-top: 50px;
}

/* ----- Contact Form ----- */
/* ----- Name ----- */

.form {
	display: flex;
	flex-direction: column;
}

.name-form {
	display: flex;
	flex-direction: column;
	width: 75%;
	margin: 10px auto 0px;
	position: relative;
	height: 50px;
	overflow: hidden;
}

.name-form input {
	width: 100%;
	height: 100%;
	padding-top: 20px;
	font-size: 16px;
	color: var(--grey-text);
	border: none;
	outline: none;
}

.name-form label {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	pointer-events: none;
	border-bottom: 1px solid black;
}

.name-form label::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	border-bottom: 3px solid var(--green);
	left: 0px;
	bottom: -1px;
	transform: translateX(-101%);
	transition: all 0.3s ease;
}

.content-name {
	position: absolute;
	bottom: 5px;
	left: 0px;
	transition: all 0.3s ease;
}

.name-form input:focus + .label-name .content-name,
.name-form input:valid + .label-name .content-name {
	transform: translateY(-125%);
	font-size: 15px;
	color: var(--green);
}

.name-form input:focus + .label-name::after,
.name-form input:valid + .label-name::after {
	transform: translateX(0%);
}

/* ----- Email ----- */

.email-form {
	display: flex;
	flex-direction: column;
	width: 75%;
	margin: 10px auto 0px;
	position: relative;
	height: 50px;
	overflow: hidden;
}

.email-form input {
	width: 100%;
	height: 100%;
	padding-top: 20px;
	font-size: 16px;
	color: var(--grey-text);
	border: none;
	outline: none;
}

.email-form label {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	pointer-events: none;
	border-bottom: 1px solid black;
}

.email-form label::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	border-bottom: 3px solid var(--green);
	left: 0px;
	bottom: -1px;
	transform: translateX(-101%);
	transition: all 0.3s ease;
}

.content-email {
	position: absolute;
	bottom: 5px;
	left: 0px;
	transition: all 0.3s ease;
}

.email-form input:focus + .label-email .content-email,
.email-form input:valid + .label-email .content-email {
	transform: translateY(-125%);
	font-size: 15px;
	color: var(--green);
}

.email-form input:focus + .label-email::after,
.email-form input:valid + .label-email::after {
	transform: translateX(0%);
}


/* ----- Message ----- */

/*.message-form {
	display: flex;
	flex-direction: column;
	width: 75%;
	margin: 10px auto 0px;
	position: relative;
	height: 150px;
	overflow: hidden;
}

.message-form input {
	width: 100%;
	height: 100%;
	padding-top: 120px;
	font-size: 16px;
	color: var(--grey-text);
	border: none;
	outline: none;
}

.message-form label {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	pointer-events: none;
	border-bottom: 1px solid black;
}

.message-form label::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	border-bottom: 3px solid var(--green);
	left: 0px;
	bottom: -1px;
	transform: translateX(-101%);
	transition: all 0.3s ease;
}

.content-message {
	position: absolute;
	bottom: 5px;
	left: 0px;
	transition: all 0.3s ease;
}

.message-form input:focus + .label-message .content-message,
.message-form input:valid + .label-message .content-message {
	transform: translateY(-125%);
	font-size: 15px;
	color: var(--green);
}

.message-form input:focus + .label-message::after,
.message-form input:valid + .label-message::after {
	transform: translateX(0%);
}*/



/* ----- Social ----- */

.social-icons {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	width: 50%;
}

.social {
	color: var(--green);
	font-size: 50px;
}

.submit {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ----- Footer ----- */

footer {
	display: flex;
	width: 83%;
	margin: auto;
	justify-content: center;
	align-items: center;
	height: 17vh;
}

footer img {
	width: 150px;
}









